---
import Layout from '../layouts/layout.astro';
import ToDo from '../component/todoApp/todoList';
import Todokun from '../component/todokunApp/todokun';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="todokun App">
  <main>
    <Todokun client:only="react" />
    <ToDo client:only="react" />
  </main>
</Layout>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
